<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Main</title>
</head>
<body>
    <div class="container text-center p-150">
        <div class="row align-items-center">
        
            <div class="col pt-30">
                <div class="container me-10 row-gap pt-100">
                <!--Signing Up form-->
                    <form action="/users" method="POST" class="border border-dark p">
                        
                        <div class="row mb-1">
                            register
                        </div>
                        
                        <div class="row mb-3 grid gap-0 row-gap-3">
                            <label for="name" class="col-sm-2 col-form-label">First Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="last_name" class="col-sm-2 col-form-label">Last Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="last_name">
                            </div>
                        </div>
                        
                        
                        <div class="row mb-3">
                            <label for="email" class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="email">
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <label for="password" class="col-sm-2 col-form-label">Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="confirm_password">
                            </div>
                        </div>
                        <input type= "submit" value="Sign Up">
                    </form>
                </div>
        </div>
        
        <!--Loggging In-->
        <div class="col pt-150">
            <div class="container me-10 row-gap pt50">
                <form action="/users" method="POST" class="border border-dark pt-50">
                    <div class="row mb-3">
                        <label for="log_email" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="log_email">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="log_password" class="col-sm-2 col-form-label">Confirm Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="log_password">
                        </div>
                        
                    </div>
                    <input type="submit" value="Sign In">
                </form>
            </div>
        </div>
            


            <div></div>
        </div>
    </div>
    
</body>
</html>